name: Pester
on: push
permissions:
  contents: read

jobs:
  pester-tests:
    name: Pester tests
    runs-on: windows-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out repository code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Perform all Pester tests from the SBOMResearcher tests directory
        shell: pwsh
        run: |
          Set-PSRepository psgallery -InstallationPolicy trusted
          Install-Module -Name Pester -Confirm:$false -RequiredVersion 5.6.1 -Force
          . .\SBOMResearcher.ps1
          Invoke-Pester -Script .\tests -OutputFile "./Pester.XML" -OutputFormat "NUnitXML" -Passthru -Verbose
      - name: Upload test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Pester-Version-Tests
          path: Pester.XML
    if: ${{ always() }}
